@mixin small {
    @media (max-width: (479px)) {
        @content;
    }
}

@mixin middle {
    @media (min-width: (480px) and (max-width:959px)) {
        @content;
    }
}

@mixin big {
    @media (min-width: (960px)) {
        @content;
    }
}

div.dashboard {
    display: block;
    border: solid;
    div.chart {
        display: block;
    }
    div.command {
        display: block;
        text-align: right;
        ul li {
            display: inline;
            padding: 3px;
            margin-right: 10px;
        }
    }
}
#overlay {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    #content {
        z-index: 2;
        @include small {
            width: 90%;
        }
        @include middle {
            width: 50%;
        }
        @include big {
            width: 30%;
        }
        padding: 1em;
        background: #fff;
        table.edit {
            width: 100%;
            tbody tr {
                th {
                    width: 50%;
                }
                td {
                    width: 50%;
                }
            }
        }
    }
    p#command {
        text-align: center;
        margin-top: 11px;
        button {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}