@mixin small {
    @media (max-width: (479px)) {
        @content;
    }
}

@mixin middle {
    @media (min-width: (480px) and (max-width:959px)) {
        @content;
    }
}

@mixin big {
    @media (min-width: (960px)) {
        @content;
    }
}

table.eatinglist {
    width: 100%;
    tbody tr {
        th {
            border: solid;
            border-width: thin;
        }
        .date {
            width: 25%;
        }
        .protein {
            width: 15%;
        }
        .liqid {
            width: 15%;
        }
        .carbo {
            width: 15%;
        }
        .calorie {
            width: 15%;
        }
        .edit {
            width: 15%;
        }
        td {
            border: solid;
            border-width: thin;
            text-align: right;
        }
        .date {
            width: 25%;
        }
        .protein {
            width: 15%;
        }
        .liqid {
            width: 15%;
        }
        .carbo {
            width: 15%;
        }
        .calorie {
            width: 15%;
        }
        .edit {
            width: 15%;
        }
    }
}
table.eatingdetail {
    width: 100%;
    tbody tr {
        th {
            border: solid;
            border-width: thin;
        }
        .item {
            width: 20%;
        }
        .protein {
            width: 15%;
        }
        .liqid {
            width: 15%;
        }
        .carbo {
            width: 15%;
        }
        .calorie {
            width: 15%;
        }
        .edit {
            width: 10%;
        }
        .delete {
            width: 10%;
        }
        td {
            border: solid;
            border-width: thin;
            text-align: right;
        }
        .item {
            width: 20%;
        }
        .protein {
            width: 15%;
        }
        .liqid {
            width: 15%;
        }
        .carbo {
            width: 15%;
        }
        .calorie {
            width: 15%;
        }
        .edit {
            width: 10%;
        }
        .delete {
            width: 10%;
        }
    }
}
table.eatinghistory {
    width: 100%;
    tbody tr {
        th {
            border: solid;
            border-width: thin;
        }
        .check {
            text-align: center;
            width: 5%;
        }
        .date {
            width: 30;
        }
        .item {
            width: 20%;
        }
        .protein {
            width: 15%;
        }
        .liqid {
            width: 10%;
        }
        .carbo {
            width: 10%;
        }
        .calorie {
            width: 10%;
        }
        td {
            border: solid;
            border-width: thin;
            text-align: right;
        }
        .check {
            text-align: center;
            width: 5%;
        }
        .date {
            width: 30;
        }
        .item {
            width: 20%;
        }
        .protein {
            width: 15%;
        }
        .liqid {
            width: 10%;
        }
        .carbo {
            width: 10%;
        }
        .calorie {
            width: 10%;
        }
    }
}
table.edit {
    width: 100%;
    tbody tr {
        th {
            border: solid;
            border-width: thin;
        }
        td {
            border: solid;
            border-width: thin;
            text-align: left;
        }
    }
}
p#inputbutton {
    text-align: right;
    margin-right: 10px;
}
p#navi {
    margin-left: 10px;
}
div#pagenate {
    text-align: right;
    ul li {
        margin-left: 5px;
        margin-right: 5px;
        display: inline;
    }
}
div#mobile {
    @include small {
    }
    @include middle {
        display: none;
    }
    @include big {
        display: none;
    }
}
